@media (max-width: 767px) {
  .container {
    max-width: auto;
  }

  nav.navbar {
    padding-top: var(--cnt-sm);
  }

  nav.navbar .nav-wrapper {
    display: block;
  }

  nav.navbar .nav-dropdown {
    display: flex;
    margin-left: auto;
  }

  nav.navbar .nav-item {
    display: none;
    margin-left: 0;
    margin-top: 28px;
  }

  nav.navbar .nav-item > ul {
    display: block;
    list-style: none;
    text-align: end;
    margin: 0;
    padding-inline-start: 0;
  }

  nav.navbar .nav-item > ul > li {
    padding-bottom: 6px;
    margin-left: 0;
    margin-bottom: 18px;
    font-size: 12px;
    font-weight: var(--fw-regular);
    border: none;
    transition: none;
  }

  nav.navbar .nav-item > ul > li.active {
    font-weight: var(--fw-bold);
    border-bottom: 2px solid var(--cl-primary);
  }

  nav.navbar .nav-item > ul > li:not(.active):hover {
    border: none;
  }
  
}